# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2025 Felix Fontein <felix@fontein.de>

line-length = 160

[lint.isort]
known-third-party = [
    "ansible_collections.community.internal_test_tools",
    "ansible_collections.community.library_inventory_filtering_v1",
]
