---
test_zone: ...
test_record: ...
# Specify username/password:
hosttech_username: ...
hosttech_password: ...
# Alternatively, specify token:
hosttech_token: ...
# Specifying both will run the same tests with both.
