unittest2 ; python_version < '2.7'
importlib ; python_version < '2.7'

dnspython

lxml < 4.3.0 ; python_version < '2.7' # lxml 4.3.0 and later require python 2.7 or later
lxml ; python_version >= '2.7' and python_version < '3.11'
https://github.com/lxml/lxml/archive/master.tar.gz ; python_version >= '3.11' # TODO: remove once lxml 4.9.0 is released
